In [1]:
p1 = {'name':'徐國堂',
    'age':40,
    'city':'Taipei'}
p1

{'name': '徐國堂', 'age': 40, 'city': 'Taipei'}

In [2]:
print(p1['name'])
print(p1.get('age'))

徐國堂
40

In [3]:
del p1['city']
p1.pop('age')

40

In [4]:
p1

{'name': '徐國堂'}

In [6]:
del p1

In [7]:
p1

NameError: name 'p1' is not defined

- 如何依順序取出 '串列資料' 和 '映射資料' 元素值
- for_in迴圈

In [8]:
fruits = ['蘋果', '香蕉', '橘子']
for fruit in fruits:
    print(fruit)

蘋果
香蕉
橘子

In [9]:
for index,fruit in enumerate(fruits):
    print(index, fruit,sep='->')
    print("==========");

0->蘋果
==========
1->香蕉
==========
2->橘子
==========

In [12]:
cities = {
    'Taipei': '台北',
    'New Taipei': '新北市',
    'Taoyuan': '桃園',
    'Taichung': '台中',
    'Tainan': '台南',
    'Kaohsiung': '高雄',
    'Keelung': '基隆',
    'Hsinchu': '新竹',
    'Chiayi': '嘉義',
    'Hualien': '花蓮'
}
for key, value in cities.items():
    print(f"{key}: {value}")

Taipei: 台北
New Taipei: 新北市
Taoyuan: 桃園
Taichung: 台中
Tainan: 台南
Kaohsiung: 高雄
Keelung: 基隆
Hsinchu: 新竹
Chiayi: 嘉義
Hualien: 花蓮

In [13]:
import random
students = []
for i in range(1,51):
    students.append(
        {
            'name':f'student{i}',
            'chinese':random.randint(50,100),
            'english':random.randint(50,100),
            'math':random.randint(50,100),
            'history':random.randint(50,100),
            'health':random.randint(50,100)
        }
    )

students

[{'name': 'student1',
  'chinese': 50,
  'english': 59,
  'math': 64,
  'history': 94,
  'health': 61},
 {'name': 'student2',
  'chinese': 63,
  'english': 52,
  'math': 66,
  'history': 89,
  'health': 70},
 {'name': 'student3',
  'chinese': 84,
  'english': 70,
  'math': 65,
  'history': 80,
  'health': 70},
 {'name': 'student4',
  'chinese': 97,
  'english': 77,
  'math': 67,
  'history': 100,
  'health': 84},
 {'name': 'student5',
  'chinese': 76,
  'english': 57,
  'math': 97,
  'history': 82,
  'health': 60},
 {'name': 'student6',
  'chinese': 78,
  'english': 91,
  'math': 89,
  'history': 79,
  'health': 72},
 {'name': 'student7',
  'chinese': 76,
  'english': 72,
  'math': 62,
  'history': 51,
  'health': 95},
 {'name': 'student8',
  'chinese': 99,
  'english': 75,
  'math': 84,
  'history': 66,
  'health': 57},
 {'name': 'student9',
  'chinese': 99,
  'english': 94,
  'math': 86,
  'history': 90,
  'health': 53},
 {'name': 'student10',
  'chinese': 87,
  'english': 50,
  'math': 75,
  'history': 56,
  'health': 50},
 {'name': 'student11',
  'chinese': 90,
  'english': 88,
  'math': 79,
  'history': 57,
  'health': 99},
 {'name': 'student12',
  'chinese': 65,
  'english': 77,
  'math': 85,
  'history': 56,
  'health': 72},
 {'name': 'student13',
  'chinese': 93,
  'english': 71,
  'math': 73,
  'history': 80,
  'health': 75},
 {'name': 'student14',
  'chinese': 82,
  'english': 63,
  'math': 85,
  'history': 63,
  'health': 96},
 {'name': 'student15',
  'chinese': 65,
  'english': 67,
  'math': 70,
  'history': 81,
  'health': 60},
 {'name': 'student16',
  'chinese': 88,
  'english': 57,
  'math': 68,
  'history': 71,
  'health': 81},
 {'name': 'student17',
  'chinese': 69,
  'english': 52,
  'math': 78,
  'history': 86,
  'health': 79},
 {'name': 'student18',
  'chinese': 52,
  'english': 57,
  'math': 70,
  'history': 65,
  'health': 87},
 {'name': 'student19',
  'chinese': 80,
  'english': 75,
  'math': 95,
  'history': 65,
  'health': 55},
 {'name': 'student20',
  'chinese': 82,
  'english': 65,
  'math': 54,
  'history': 91,
  'health': 74},
 {'name': 'student21',
  'chinese': 65,
  'english': 73,
  'math': 83,
  'history': 92,
  'health': 77},
 {'name': 'student22',
  'chinese': 85,
  'english': 80,
  'math': 87,
  'history': 76,
  'health': 69},
 {'name': 'student23',
  'chinese': 89,
  'english': 92,
  'math': 88,
  'history': 75,
  'health': 55},
 {'name': 'student24',
  'chinese': 56,
  'english': 67,
  'math': 70,
  'history': 98,
  'health': 93},
 {'name': 'student25',
  'chinese': 60,
  'english': 97,
  'math': 95,
  'history': 63,
  'health': 67},
 {'name': 'student26',
  'chinese': 79,
  'english': 65,
  'math': 94,
  'history': 79,
  'health': 62},
 {'name': 'student27',
  'chinese': 80,
  'english': 95,
  'math': 68,
  'history': 85,
  'health': 86},
 {'name': 'student28',
  'chinese': 58,
  'english': 69,
  'math': 59,
  'history': 78,
  'health': 99},
 {'name': 'student29',
  'chinese': 69,
  'english': 76,
  'math': 91,
  'history': 92,
  'health': 55},
 {'name': 'student30',
  'chinese': 85,
  'english': 95,
  'math': 79,
  'history': 90,
  'health': 92},
 {'name': 'student31',
  'chinese': 60,
  'english': 92,
  'math': 90,
  'history': 84,
  'health': 57},
 {'name': 'student32',
  'chinese': 95,
  'english': 98,
  'math': 58,
  'history': 93,
  'health': 74},
 {'name': 'student33',
  'chinese': 95,
  'english': 93,
  'math': 55,
  'history': 75,
  'health': 82},
 {'name': 'student34',
  'chinese': 55,
  'english': 51,
  'math': 58,
  'history': 68,
  'health': 96},
 {'name': 'student35',
  'chinese': 85,
  'english': 75,
  'math': 92,
  'history': 65,
  'health': 82},
 {'name': 'student36',
  'chinese': 53,
  'english': 98,
  'math': 92,
  'history': 59,
  'health': 82},
 {'name': 'student37',
  'chinese': 75,
  'english': 62,
  'math': 53,
  'history': 68,
  'health': 80},
 {'name': 'student38',
  'chinese': 51,
  'english': 51,
  'math': 76,
  'history': 63,
  'health': 95},
 {'name': 'student39',
  'chinese': 91,
  'english': 56,
  'math': 58,
  'history': 88,
  'health': 92},
 {'name': 'student40',
  'chinese': 87,
  'english': 81,
  'math': 63,
  'history': 91,
  'health': 100},
 {'name': 'student41',
  'chinese': 55,
  'english': 96,
  'math': 99,
  'history': 93,
  'health': 69},
 {'name': 'student42',
  'chinese': 56,
  'english': 55,
  'math': 55,
  'history': 59,
  'health': 79},
 {'name': 'student43',
  'chinese': 94,
  'english': 92,
  'math': 69,
  'history': 76,
  'health': 70},
 {'name': 'student44',
  'chinese': 76,
  'english': 68,
  'math': 94,
  'history': 67,
  'health': 83},
 {'name': 'student45',
  'chinese': 86,
  'english': 78,
  'math': 78,
  'history': 90,
  'health': 93},
 {'name': 'student46',
  'chinese': 88,
  'english': 94,
  'math': 56,
  'history': 69,
  'health': 94},
 {'name': 'student47',
  'chinese': 95,
  'english': 89,
  'math': 78,
  'history': 84,
  'health': 80},
 {'name': 'student48',
  'chinese': 79,
  'english': 91,
  'math': 63,
  'history': 62,
  'health': 60},
 {'name': 'student49',
  'chinese': 75,
  'english': 66,
  'math': 76,
  'history': 64,
  'health': 63},
 {'name': 'student50',
  'chinese': 77,
  'english': 68,
  'math': 98,
  'history': 53,
  'health': 69}]

In [14]:
for scores in students:
    print(scores)

{'name': 'student1', 'chinese': 50, 'english': 59, 'math': 64, 'history': 94, 'health': 61}
{'name': 'student2', 'chinese': 63, 'english': 52, 'math': 66, 'history': 89, 'health': 70}
{'name': 'student3', 'chinese': 84, 'english': 70, 'math': 65, 'history': 80, 'health': 70}
{'name': 'student4', 'chinese': 97, 'english': 77, 'math': 67, 'history': 100, 'health': 84}
{'name': 'student5', 'chinese': 76, 'english': 57, 'math': 97, 'history': 82, 'health': 60}
{'name': 'student6', 'chinese': 78, 'english': 91, 'math': 89, 'history': 79, 'health': 72}
{'name': 'student7', 'chinese': 76, 'english': 72, 'math': 62, 'history': 51, 'health': 95}
{'name': 'student8', 'chinese': 99, 'english': 75, 'math': 84, 'history': 66, 'health': 57}
{'name': 'student9', 'chinese': 99, 'english': 94, 'math': 86, 'history': 90, 'health': 53}
{'name': 'student10', 'chinese': 87, 'english': 50, 'math': 75, 'history': 56, 'health': 50}
{'name': 'student11', 'chinese': 90, 'english': 88, 'math': 79, 'history': 57, 'health': 99}
{'name': 'student12', 'chinese': 65, 'english': 77, 'math': 85, 'history': 56, 'health': 72}
{'name': 'student13', 'chinese': 93, 'english': 71, 'math': 73, 'history': 80, 'health': 75}
{'name': 'student14', 'chinese': 82, 'english': 63, 'math': 85, 'history': 63, 'health': 96}
{'name': 'student15', 'chinese': 65, 'english': 67, 'math': 70, 'history': 81, 'health': 60}
{'name': 'student16', 'chinese': 88, 'english': 57, 'math': 68, 'history': 71, 'health': 81}
{'name': 'student17', 'chinese': 69, 'english': 52, 'math': 78, 'history': 86, 'health': 79}
{'name': 'student18', 'chinese': 52, 'english': 57, 'math': 70, 'history': 65, 'health': 87}
{'name': 'student19', 'chinese': 80, 'english': 75, 'math': 95, 'history': 65, 'health': 55}
{'name': 'student20', 'chinese': 82, 'english': 65, 'math': 54, 'history': 91, 'health': 74}
{'name': 'student21', 'chinese': 65, 'english': 73, 'math': 83, 'history': 92, 'health': 77}
{'name': 'student22', 'chinese': 85, 'english': 80, 'math': 87, 'history': 76, 'health': 69}
{'name': 'student23', 'chinese': 89, 'english': 92, 'math': 88, 'history': 75, 'health': 55}
{'name': 'student24', 'chinese': 56, 'english': 67, 'math': 70, 'history': 98, 'health': 93}
{'name': 'student25', 'chinese': 60, 'english': 97, 'math': 95, 'history': 63, 'health': 67}
{'name': 'student26', 'chinese': 79, 'english': 65, 'math': 94, 'history': 79, 'health': 62}
{'name': 'student27', 'chinese': 80, 'english': 95, 'math': 68, 'history': 85, 'health': 86}
{'name': 'student28', 'chinese': 58, 'english': 69, 'math': 59, 'history': 78, 'health': 99}
{'name': 'student29', 'chinese': 69, 'english': 76, 'math': 91, 'history': 92, 'health': 55}
{'name': 'student30', 'chinese': 85, 'english': 95, 'math': 79, 'history': 90, 'health': 92}
{'name': 'student31', 'chinese': 60, 'english': 92, 'math': 90, 'history': 84, 'health': 57}
{'name': 'student32', 'chinese': 95, 'english': 98, 'math': 58, 'history': 93, 'health': 74}
{'name': 'student33', 'chinese': 95, 'english': 93, 'math': 55, 'history': 75, 'health': 82}
{'name': 'student34', 'chinese': 55, 'english': 51, 'math': 58, 'history': 68, 'health': 96}
{'name': 'student35', 'chinese': 85, 'english': 75, 'math': 92, 'history': 65, 'health': 82}
{'name': 'student36', 'chinese': 53, 'english': 98, 'math': 92, 'history': 59, 'health': 82}
{'name': 'student37', 'chinese': 75, 'english': 62, 'math': 53, 'history': 68, 'health': 80}
{'name': 'student38', 'chinese': 51, 'english': 51, 'math': 76, 'history': 63, 'health': 95}
{'name': 'student39', 'chinese': 91, 'english': 56, 'math': 58, 'history': 88, 'health': 92}
{'name': 'student40', 'chinese': 87, 'english': 81, 'math': 63, 'history': 91, 'health': 100}
{'name': 'student41', 'chinese': 55, 'english': 96, 'math': 99, 'history': 93, 'health': 69}
{'name': 'student42', 'chinese': 56, 'english': 55, 'math': 55, 'history': 59, 'health': 79}
{'name': 'student43', 'chinese': 94, 'english': 92, 'math': 69, 'history': 76, 'health': 70}
{'name': 'student44', 'chinese': 76, 'english': 68, 'math': 94, 'history': 67, 'health': 83}
{'name': 'student45', 'chinese': 86, 'english': 78, 'math': 78, 'history': 90, 'health': 93}
{'name': 'student46', 'chinese': 88, 'english': 94, 'math': 56, 'history': 69, 'health': 94}
{'name': 'student47', 'chinese': 95, 'english': 89, 'math': 78, 'history': 84, 'health': 80}
{'name': 'student48', 'chinese': 79, 'english': 91, 'math': 63, 'history': 62, 'health': 60}
{'name': 'student49', 'chinese': 75, 'english': 66, 'math': 76, 'history': 64, 'health': 63}
{'name': 'student50', 'chinese': 77, 'english': 68, 'math': 98, 'history': 53, 'health': 69}

In [15]:
# 將 students 列表轉換為字串
students_str = '\n'.join([
    f"姓名:{student['name']}, "
    f"國文:{student['chinese']}, "
    f"英文:{student['english']}, "
    f"數學:{student['math']}, "
    f"歷史:{student['history']}, "
    f"健康:{student['health']}"
    for student in students
])

print(students_str)

姓名:student1, 國文:50, 英文:59, 數學:64, 歷史:94, 健康:61
姓名:student2, 國文:63, 英文:52, 數學:66, 歷史:89, 健康:70
姓名:student3, 國文:84, 英文:70, 數學:65, 歷史:80, 健康:70
姓名:student4, 國文:97, 英文:77, 數學:67, 歷史:100, 健康:84
姓名:student5, 國文:76, 英文:57, 數學:97, 歷史:82, 健康:60
姓名:student6, 國文:78, 英文:91, 數學:89, 歷史:79, 健康:72
姓名:student7, 國文:76, 英文:72, 數學:62, 歷史:51, 健康:95
姓名:student8, 國文:99, 英文:75, 數學:84, 歷史:66, 健康:57
姓名:student9, 國文:99, 英文:94, 數學:86, 歷史:90, 健康:53
姓名:student10, 國文:87, 英文:50, 數學:75, 歷史:56, 健康:50
姓名:student11, 國文:90, 英文:88, 數學:79, 歷史:57, 健康:99
姓名:student12, 國文:65, 英文:77, 數學:85, 歷史:56, 健康:72
姓名:student13, 國文:93, 英文:71, 數學:73, 歷史:80, 健康:75
姓名:student14, 國文:82, 英文:63, 數學:85, 歷史:63, 健康:96
姓名:student15, 國文:65, 英文:67, 數學:70, 歷史:81, 健康:60
姓名:student16, 國文:88, 英文:57, 數學:68, 歷史:71, 健康:81
姓名:student17, 國文:69, 英文:52, 數學:78, 歷史:86, 健康:79
姓名:student18, 國文:52, 英文:57, 數學:70, 歷史:65, 健康:87
姓名:student19, 國文:80, 英文:75, 數學:95, 歷史:65, 健康:55
姓名:student20, 國文:82, 英文:65, 數學:54, 歷史:91, 健康:74
姓名:student21, 國文:65, 英文:73, 數學:83, 歷史:92, 健康:77
姓名:student22, 國文:85, 英文:80, 數學:87, 歷史:76, 健康:69
姓名:student23, 國文:89, 英文:92, 數學:88, 歷史:75, 健康:55
姓名:student24, 國文:56, 英文:67, 數學:70, 歷史:98, 健康:93
姓名:student25, 國文:60, 英文:97, 數學:95, 歷史:63, 健康:67
姓名:student26, 國文:79, 英文:65, 數學:94, 歷史:79, 健康:62
姓名:student27, 國文:80, 英文:95, 數學:68, 歷史:85, 健康:86
姓名:student28, 國文:58, 英文:69, 數學:59, 歷史:78, 健康:99
姓名:student29, 國文:69, 英文:76, 數學:91, 歷史:92, 健康:55
姓名:student30, 國文:85, 英文:95, 數學:79, 歷史:90, 健康:92
姓名:student31, 國文:60, 英文:92, 數學:90, 歷史:84, 健康:57
姓名:student32, 國文:95, 英文:98, 數學:58, 歷史:93, 健康:74
姓名:student33, 國文:95, 英文:93, 數學:55, 歷史:75, 健康:82
姓名:student34, 國文:55, 英文:51, 數學:58, 歷史:68, 健康:96
姓名:student35, 國文:85, 英文:75, 數學:92, 歷史:65, 健康:82
姓名:student36, 國文:53, 英文:98, 數學:92, 歷史:59, 健康:82
姓名:student37, 國文:75, 英文:62, 數學:53, 歷史:68, 健康:80
姓名:student38, 國文:51, 英文:51, 數學:76, 歷史:63, 健康:95
姓名:student39, 國文:91, 英文:56, 數學:58, 歷史:88, 健康:92
姓名:student40, 國文:87, 英文:81, 數學:63, 歷史:91, 健康:100
姓名:student41, 國文:55, 英文:96, 數學:99, 歷史:93, 健康:69
姓名:student42, 國文:56, 英文:55, 數學:55, 歷史:59, 健康:79
姓名:student43, 國文:94, 英文:92, 數學:69, 歷史:76, 健康:70
姓名:student44, 國文:76, 英文:68, 數學:94, 歷史:67, 健康:83
姓名:student45, 國文:86, 英文:78, 數學:78, 歷史:90, 健康:93
姓名:student46, 國文:88, 英文:94, 數學:56, 歷史:69, 健康:94
姓名:student47, 國文:95, 英文:89, 數學:78, 歷史:84, 健康:80
姓名:student48, 國文:79, 英文:91, 數學:63, 歷史:62, 健康:60
姓名:student49, 國文:75, 英文:66, 數學:76, 歷史:64, 健康:63
姓名:student50, 國文:77, 英文:68, 數學:98, 歷史:53, 健康:69