In [2]:
import numpy as np

students = np.array([
    [67, 94, 65],
    [78, 92, 68],
    [59, 92, 87]
    ])
students

array([[67, 94, 65],
       [78, 92, 68],
       [59, 92, 87]])

In [4]:
import pandas as pd

pd.DataFrame(data=students,
             index=["stu1", "stu2", "stu3"],
             columns=["國文", "英文", "數學"]
             )

      國文  英文  數學
stu1  67  94  65
stu2  78  92  68
stu3  59  92  87