In [4]:
import pandas as pd

df = pd.read_csv('students.csv' , index_col=0)
df

     國文  英文   數學   地理   探討
陳凱翔  81  92   70   87   97
柯韋成  91  59   59   90   93
鄭淑珍  72  60   84   70   81
鄭琇亞  78  89   72   68  100
潘俊賢  67  94   93   74   66
陳怡珊  77  97   98   99   77
陳怡容  91  77   61   54   78
林詠斌  73  75  100   56   94
戴萱能  55  99  100   89   85
張家秀  64  55   72   94   84
程玫靖  61  91   98   98   73
高智超  72  92   73   84   80
蘇凡菁  89  61   72   61   77
林佳慧  55  92   69   93   64
林柏洋  58  96   85   87   63
游淑惠  64  78   56   84   52
林建勳  94  82   95   83   88
黃彥孝  63  97   66   85   99
呂傑宣  99  53   60   93   72
黃名明  64  83   59   88   88
林義皓  81  93   81   65   57
陳嘉淑  55  95   53   95   73
黃婷婷  94  77   66   71   78
柯宜臻  66  56   93   50   62
林志喜  96  59   99   53   87
林珍旺  87  57   93   79   86
黃心航  86  79   65   87   99
艾巧夫  66  52   65   97   94
吳柏誠  92  56   69   55   76
盧必妍  68  77   76   93   82
林佳人  60  51   81   50   77
張伊映  61  77   90   79   58
溫重意  73  64   83   86   77
林建宏  51  57   63   50   82
臧怡君  52  99   75   53   77
張韋成  65  80   82   81   56
吳淑惠  93  97   96  100  100
游一鈺  65  79   88   89   56
黃政甫  86  64   58   54   72
張牧聿  91  88   59   94   97
蔡嘉音  62  57  100   97   98
孫火清  99  86   65   66   90
林怡偉  87  68   54   88   71
李佳彥  76  71   54   92   91
陳信念  50  64   79   69   73
馮淑芬  90  76   73   96   99
林麗萍  92  66   70   71   93
陳彥治  73  58   61   51   98
翁均安  90  90   60   61   56
元延辛  73  94   61  100   61

In [8]:
df = pd.read_excel('students.xlsx' , index_col=0 )
df
df.head()

     國文  英文  數學  地理   探討
陳凱翔  81  92  70  87   97
柯韋成  91  59  59  90   93
鄭淑珍  72  60  84  70   81
鄭琇亞  78  89  72  68  100
潘俊賢  67  94  93  74   66

-透過欄選取
-透過列選取

In [13]:
# 透過欄選取
# 單欄選取
df['國文'] #Series

陳凱翔    81
柯韋成    91
鄭淑珍    72
鄭琇亞    78
潘俊賢    67
陳怡珊    77
陳怡容    91
林詠斌    73
戴萱能    55
張家秀    64
程玫靖    61
高智超    72
蘇凡菁    89
林佳慧    55
林柏洋    58
游淑惠    64
林建勳    94
黃彥孝    63
呂傑宣    99
黃名明    64
林義皓    81
陳嘉淑    55
黃婷婷    94
柯宜臻    66
林志喜    96
林珍旺    87
黃心航    86
艾巧夫    66
吳柏誠    92
盧必妍    68
林佳人    60
張伊映    61
溫重意    73
林建宏    51
臧怡君    52
張韋成    65
吳淑惠    93
游一鈺    65
黃政甫    86
張牧聿    91
蔡嘉音    62
孫火清    99
林怡偉    87
李佳彥    76
陳信念    50
馮淑芬    90
林麗萍    92
陳彥治    73
翁均安    90
元延辛    73
Name: 國文, dtype: int64

In [14]:
# 多欄選取
df[['國文','數學']]

     國文   數學
陳凱翔  81   70
柯韋成  91   59
鄭淑珍  72   84
鄭琇亞  78   72
潘俊賢  67   93
陳怡珊  77   98
陳怡容  91   61
林詠斌  73  100
戴萱能  55  100
張家秀  64   72
程玫靖  61   98
高智超  72   73
蘇凡菁  89   72
林佳慧  55   69
林柏洋  58   85
游淑惠  64   56
林建勳  94   95
黃彥孝  63   66
呂傑宣  99   60
黃名明  64   59
林義皓  81   81
陳嘉淑  55   53
黃婷婷  94   66
柯宜臻  66   93
林志喜  96   99
林珍旺  87   93
黃心航  86   65
艾巧夫  66   65
吳柏誠  92   69
盧必妍  68   76
林佳人  60   81
張伊映  61   90
溫重意  73   83
林建宏  51   63
臧怡君  52   75
張韋成  65   82
吳淑惠  93   96
游一鈺  65   88
黃政甫  86   58
張牧聿  91   59
蔡嘉音  62  100
孫火清  99   65
林怡偉  87   54
李佳彥  76   54
陳信念  50   79
馮淑芬  90   73
林麗萍  92   70
陳彥治  73   61
翁均安  90   60
元延辛  73   61

In [15]:
df.loc['柯韋成']

國文    91
英文    59
數學    59
地理    90
探討    93
Name: 柯韋成, dtype: int64

In [17]:
df.loc[['柯韋成','翁均安']]

     國文  英文  數學  地理  探討
柯韋成  91  59  59  90  93
翁均安  90  90  60  61  56

In [18]:
df.iloc[1]

國文    91
英文    59
數學    59
地理    90
探討    93
Name: 柯韋成, dtype: int64

In [19]:
df.iloc[[0,3]]

     國文  英文  數學  地理   探討
陳凱翔  81  92  70  87   97
鄭琇亞  78  89  72  68  100

In [21]:
df.iloc[0:3]

     國文  英文  數學  地理  探討
陳凱翔  81  92  70  87  97
柯韋成  91  59  59  90  93
鄭淑珍  72  60  84  70  81

In [24]:
df.loc['陳凱翔':'鄭淑珍']

     國文  英文  數學  地理  探討
陳凱翔  81  92  70  87  97
柯韋成  91  59  59  90  93
鄭淑珍  72  60  84  70  81

In [28]:
df.loc['柯韋成', '地理'] = 61
df.head()

     國文  英文  數學  地理   探討
陳凱翔  81  92  70  87   97
柯韋成  91  59  59  61   93
鄭淑珍  72  60  84  70   81
鄭琇亞  78  89  72  68  100
潘俊賢  67  94  93  74   66

In [29]:
df[:10]

     國文  英文   數學  地理   探討
陳凱翔  81  92   70  87   97
柯韋成  91  59   59  61   93
鄭淑珍  72  60   84  70   81
鄭琇亞  78  89   72  68  100
潘俊賢  67  94   93  74   66
陳怡珊  77  97   98  99   77
陳怡容  91  77   61  54   78
林詠斌  73  75  100  56   94
戴萱能  55  99  100  89   85
張家秀  64  55   72  94   84

In [30]:
df[-10:]

     國文  英文   數學   地理  探討
蔡嘉音  62  57  100   97  98
孫火清  99  86   65   66  90
林怡偉  87  68   54   88  71
李佳彥  76  71   54   92  91
陳信念  50  64   79   69  73
馮淑芬  90  76   73   96  99
林麗萍  92  66   70   71  93
陳彥治  73  58   61   51  98
翁均安  90  90   60   61  56
元延辛  73  94   61  100  61

In [32]:
df['國文'] + df['英文'] + df['數學'] + df['地理'] + df['探討']

陳凱翔    427
柯韋成    363
鄭淑珍    367
鄭琇亞    407
潘俊賢    394
陳怡珊    448
陳怡容    361
林詠斌    398
戴萱能    428
張家秀    369
程玫靖    421
高智超    401
蘇凡菁    360
林佳慧    373
林柏洋    389
游淑惠    334
林建勳    442
黃彥孝    410
呂傑宣    377
黃名明    382
林義皓    377
陳嘉淑    371
黃婷婷    386
柯宜臻    327
林志喜    394
林珍旺    402
黃心航    416
艾巧夫    374
吳柏誠    348
盧必妍    396
林佳人    319
張伊映    365
溫重意    383
林建宏    303
臧怡君    356
張韋成    364
吳淑惠    486
游一鈺    377
黃政甫    334
張牧聿    429
蔡嘉音    414
孫火清    406
林怡偉    368
李佳彥    384
陳信念    335
馮淑芬    434
林麗萍    392
陳彥治    341
翁均安    357
元延辛    389
dtype: int64

In [36]:
stu_sum = df.sum(axis=1)
stu_mean = stu_sum / 5.0

In [37]:
df['總分'] = stu_sum
df['平均'] = stu_mean

In [42]:
df #全部
df.head() #前5筆
df.tail() #後5筆

     國文  英文  數學   地理  探討   總分    平均
馮淑芬  90  76  73   96  99  434  86.8
林麗萍  92  66  70   71  93  392  78.4
陳彥治  73  58  61   51  98  341  68.2
翁均安  90  90  60   61  56  357  71.4
元延辛  73  94  61  100  61  389  77.8